@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    var lstData = ViewBag.Data as IEnumerable<FilmManagement.Core.Models.Movie.MovieModel>;
    string currentUsername = ViewBag.CurrentUsername as string;
}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
    body {
        min-height: 100vh;
        background: #fafafa;
    }


    .social-link {
        width: 30px;
        height: 30px;
        border: 1px solid #ddd;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #666;
        border-radius: 50%;
        transition: all 0.3s;
        font-size: 0.9rem;
    }

        .social-link:hover,
        .social-link:focus {
            background: #ddd;
            text-decoration: none;
            color: #555;
        }

    .progress {
        height: 10px;
    }
</style>
<div>
    <h2 style="font-size: 20px; margin: 10px 0" class="font-weight-bold mb-2">Welcome, <span class="font-italic text-muted mb-4"><strong>@(currentUsername)</strong></span><a style="float: right; font-size: 20px" href="#" id="btnLogOut">Log out <i class="fa fa-sign-out" aria-hidden="true"></i></a></h2>
</div>

<div class="row pb-5 mb-4">
    @foreach (var item in lstData)
    {
        <div class="col-lg-3 col-md-6 mb-4 mb-lg-0">
            <!-- Card-->
            <div class="card shadow-sm border-0 rounded">
                <div class="card-body p-0">
                    <img src="~/imgs/@(item.Image)" alt="" class="w-100 card-img-top">
                    <div class="p-4">
                        <h5 class="mb-0" style="height: 3em">@(item.Title)</h5>
                        <p class="small text-muted">
                            <span style="float:left; line-height: 2">@(item.LikeCount) likes</span>

                            <span style="float:right; margin-left: 1em">
                                <a onclick="voteDisLike('@(item.Id)');" id="voteDisLike" class="social-link" style="cursor: pointer">
                                    <i class="fa fa-thumbs-o-down" aria-hidden="true"></i>
                                </a>
                            </span>
                            <span style="float:right">
                                <a onclick="voteLike('@(item.Id)');" id="voteLike" class="social-link" style="cursor: pointer">
                                    <i class="fa fa-thumbs-o-up" aria-hidden="true"></i>
                                </a>
                            </span>
                        </p>
                        @*<p class="small text-muted">DisLike: @(item.DisLikeCount)</p>*@
                    </div>
                </div>
            </div>
            <hr style="border: none; height: 0.2em" />
        </div>
    }
</div>
<script type="text/javascript">
    function voteLike(id) {
        var data = { // to be replaced with form values
            MovieId: id,
            IsLike: true
        };
        $.ajax({
                type: "POST",
                url: "@Url.Action("InteractMovie", "Movie")",
                data: JSON.stringify(data),
                contentType: 'application/json; charset=utf-8',
                dataType: 'json',
                success: function (response) {
                    if (response.code == 0) {
                    }
                    location.reload();
                },
                failure: function (response) {
                    debugger;
                    alert(response.responseText);
                }
            });
    }

    function voteDisLike(id) {
        var data = {
            MovieId: id,
            IsLike: false
        };
        $.ajax({
                type: "POST",
                url: "@Url.Action("InteractMovie", "Movie")",
                data: JSON.stringify(data),
                contentType: 'application/json; charset=utf-8',
                dataType: 'json',
                success: function (response) {
                    if (response.code == 0) {
                    }
                    location.reload();
                },
                failure: function (response) {
                    debugger;
                    alert(response.responseText);
                }
            });
    }

    $("#btnLogOut").click(function () {
        $.ajax({
            type: "GET",
            url: "@Url.Action("Logout", "Login")",
            contentType: 'application/json; charset=utf-8',
            dataType: 'json',
            success: function (response) {
                // pending response for ui
                window.location.href = "Login/Index";
            }
        });
    });
</script>